<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Faizaan's Quest</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <nav>
        <%= if user_signed_in?(@conn) do %>
          Signed in as <%= current_username(@conn) %> (<%= link("Sign out", to: "/auth/sign_out") %>).
        <% else %>
          <%= link("Sign in", to: "/auth/sign_in") %>
        <% end %>
      </nav>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
